@font-face{
    //font-family: 'Lato-Light';
    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Light.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    //font-family: 'Lato-Regular';
    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    //font-family: 'Lato-Bold';
    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face{
    //font-family: 'Lato-Black';
    font-family: 'Lato';
    src: url("../fonts/Lato/Lato-Black.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: 'BEYNO';
    src: url("../fonts/Beyno/BEYNO.otf");
    src: url("../fonts/Beyno/BEYNO.woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica/Helvetica.otf");
    src: url("../fonts/Helvetica/Helvetica-Regular.woff");
    font-weight: normal;
    font-style: normal;
}



