/*
font-family: 'Lato', sans-serif;
font-family: 'Helvetica';
font-family: 'BEYNO';
*/
@import "reset";
@import "fonts";
@import "variables";

body{
  font-family: 'Lato', sans-serif;
  max-width: 1600px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
img{
  width: 100%;
}
// header
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: $mainBg;
  z-index: 20;
}
.container{
  padding-left: 0;
}
.header__logo a{
  font-family: 'BEYNO';
  letter-spacing: 2px;
  font-size: 30px;
  line-height: 31px;
  color: $iconColor;
  span{
    color: $titleColor;
  }
}
.header__mobile-menu {
  display: none;
}
.header__menu{
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 1px;
}
.header__nav {
  display: flex;
}
.header__nav__item{
  margin-left: 54px;
  color: $navColor;
  display: flex;
  line-height: 70px;
  &:hover{
    font-weight: 800;
  }
}
.nav_active{
  font-weight: 800;
}

// dropdown-menu
.header__nav__dropdown-content{
  font-family: 'Helvetica';
  font-size: 14px;
  top: 70px;
  position: absolute;
  width: 183px;
  height: auto;
  background-color: rgba(0,0,0,0.65);
  z-index: 1;
  border-top: 2px solid $hoverNavColor;
  padding-top: 20px;
  margin-left: 54px;
  display: none;
  a{
    color: #fdfdfd;
    display: block;
    padding-bottom: 5px;
    text-align: left;
    margin: 0;
    padding-left: 18px;

    &:last-child{
      padding-bottom: 21px;
    }
    &:hover{
      color: $hoverNavColor;
    }
  }
}
.header__nav__dropdown:hover .header__nav__dropdown-content{
  display: block;
}
.header__nav__dropdown:hover {
  font-weight: 800;
}

.header__nav__dropdown-content__2{
  top: 90px;
  position: absolute;
  width: 183px;
  height: auto;
  background-color: rgba(0,0,0,0.65);
  z-index: 1;
  border-top: 2px solid $hoverNavColor;
  padding-top: 18px;
  margin-left: 183px;
  display: none;
}
.header__nav__dropdown__2:hover .header__nav__dropdown-content__2{
  display: block;
}

.header_search{
  margin-left: 41px;
  line-height: 70px;
  position: relative;

  input{
    height: 31px;
    width: 180px;
    border: none;
    background-color: #e8e4f1;
    padding-left: 20px;
  }
  i.fas {
    height: 31px;
    line-height: 70px;
    position: absolute;
    color: #5c5c5c;
    top: 0;
    right: 27px;
  }

}

//slider
.slider{
  position: relative;
}
.slider__item__mask{
  position: absolute;
  top: 0;
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
    font-weight: $latoBold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    span{
      color: $hoverNavColor;
    }
  }
  p{
    text-align: center;
    color: #fff;
    font-weight: $latoRegular;
    font-size: 16px;
    line-height: 30px;
    margin-top: 48px;
  }
}
.slider__btn{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
}
.slider__arrows__left, .slider__arrows__right{
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #fff;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  margin-left: 30px;
  margin-right: 28px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.slider__dots{
  position: absolute;
  bottom: 41px;
  left: calc(100%/2);

  .dots{
    height: 7px;
    width: 7px;
    background: #b7b7b7;
    border-radius: 50%;
    margin-right: 3.5px;
    margin-left: 3.5px;
    display: inline-block;
    cursor: pointer;
  }
  .dots.active{
    background: #fff;
  }
}

// home section
.home{
  padding-top: 115px;
  padding-bottom: 100px;
  background-color: $mainBg;
}
.home__header__title{
  text-align: center;
  font-size: 35px;
  font-weight: $latoBold;
  line-height: 24px;
  color: $navColor;
  text-transform: uppercase;
  letter-spacing: 2px;
  span{
    color: $titleColor;
  }
}
.home__header__description{
  margin-top: 35px;
  margin-bottom: 92px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: $latoRegular;
  color: $descrColor;
  letter-spacing: 0.7px;
}
.home__content__item{
  width: 200px;
  height: 270px;
  margin-bottom: 18px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;

}
.home__content__item__icon{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    color: $iconColor;
    font-size: 60px;
  }
}
.home__content__item__description{
  height: 150px;
}
.home__content__item__description__default{
  padding: 24px 22px 0 22px;
  text-align: center;
  height: 100%;
  h3{
    margin-bottom: 23px;
    font-size: 14px;
    font-weight: $latoHeavy;
  }
  p{
    font-size: 14px;
    font-weight: $latoLight;
    line-height: 20px;
    color: #373737;
  }
}
.home__content__item__description__hover{
  height: 100%;
  width: 100%;
  padding-top: 34px;
  text-align: center;
  background-color: $iconColor;
  border: 1px solid $iconColor;
  box-sizing: border-box;
  display: none;
  h3{
    font-size: 14px;
    font-weight: $latoBold;
    color: #fff;
    margin-bottom: 35px;
  }
}
.description__hover__icon{
  display: flex;
  justify-content: center;
}
.description__hover__icon__btn{
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 7.5px;
  margin-right: 7.5px;
  i{
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
  &:hover{
    background-color: #fff;
    i{
      color: $iconColor;
    }
  }
}
.home__content__item:hover .home__content__item__description__default{
  display: none;
}
.home__content__item:hover .home__content__item__description__hover{
  display: block;
}

// about us section
.about{
  padding-top: 120px;
  padding-bottom: 106px;
  background-color: $mainBg;
}
.about__header__title{
  text-align: left;
  font-size: 35px;
  font-weight: $latoBold;
  line-height: 24px;
  color: $navColor;
  text-transform: uppercase;
  letter-spacing: 2px;
  span{
    color: $titleColor;
  }
}
.about__header__description{
  margin-top: 35px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  font-weight: $latoRegular;
  color: $descrColor;
  letter-spacing: 0.5px;
}
.about__content__description{
  font-size: 14px;
  line-height: 24px;
  font-weight: $latoRegular;
  color: #373737;
  margin-bottom: 65px;
}
.about__content__skillbar__item{
  margin-bottom: 38px;
  &:last-child{
    margin-bottom: 0;
  }
}
.about__content__skillbar__item__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.about__content__skillbar__item__top__title, .about__content__skillbar__item__top__percent{
  font-size: 13px;
  font-weight: $latoBold;
  color: #444444;
}
.about__content__skillbar__item__bar{
  height: 9px;
  width: 100%;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  padding: 2px;
}
.about__content__skillbar__item__bar__progress{
  width: 0;
  height: 100%;
  background-color: $titleColor;
}

// contact section
.contact{
  background-color: $mainBg;
  padding-top: 100px;
}
.contact__header__title{
  text-align: center;
  font-size: 35px;
  font-weight: $latoBold;
  line-height: 24px;
  color: $navColor;
  text-transform: uppercase;
  letter-spacing: 2px;
  span{
    color: $titleColor;
  }
}
.contact__header__description{
  margin-top: 35px;
  margin-bottom: 74px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight: $latoRegular;
  color: $descrColor;
  letter-spacing: 0.7px;
}

.contact__container{
  height: 634px;
  background: url("../img/map.jpg") no-repeat;
}
.contact__container__content{
  background-color: rgba(26, 26, 26, 0.5);
  width: 100%;
  height: 435px;
  margin-top: 98px;
  padding-top: 83px;
}

//form
.form{
  margin-right: 63px;
  margin-left: -40px;
  width: 490px;
}
.form__inputs__left{
  input{
    height: 50px;
    width: 238px;
    border: 1px solid #9a9999;
    box-sizing: border-box;
    background: transparent;
    padding-left: 20px;
    color: #b7b7b7;
    font-weight: $latoRegular;
    font-size: 16px;
  }
}
.form__inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__inputs__right{
  input{
    height: 50px;
    width: 238px;
    border: 1px solid #9a9999;
    box-sizing: border-box;
    background: transparent;
    padding-left: 20px;
    color: #b7b7b7;
    font-weight: $latoRegular;
    font-size: 16px;
    line-height: 50px;
  }
  i.fas{
    margin-left: -33px;
    position: relative;
    width: 30px;
    font-size: 16px;
    color: #fff;
  }
}
.form__textarea{
  margin-top: 12px;
  margin-bottom: 14px;
  border: 1px solid #9a9999;
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  height: 144px;
  resize: none;
  padding-left: 20px;
  padding-top: 15px;
  color: #b7b7b7;
  font-weight: $latoRegular;
  font-size: 16px;
  overflow: auto;
}
.form__footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__footer__check{
  color: #b7b7b7;
  font-size: 16px;
  font-weight: $latoRegular;

  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #9b9b9b;
    margin: -5px 11px 0 0;
    height: 23px;
    width: 23px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    cursor: pointer;
  }
  input[type=checkbox]:checked + label:before {
    color: #b7b7b7;
  }
}
.form__footer__btn{
  button{
    background-color: #ffff00;
    border: none;
    height: 50px;
    width: 120px;
    cursor: pointer;
    color: #373737;
    font-weight: $latoRegular;
    font-size: 16px;
  }
}


.contact__container__content__right__inform{
  color: #f3f3f3;
  font-size: 16px;
  line-height: 24px;
  font-weight: $latoRegular;
}

//footer
.footer{
  background-color: #1a1a1a;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.footer__copyright{
  color: #7a7a7a;
  font-size: 16px;
  font-weight: $latoRegular;
  letter-spacing: 0.7px;
}
.footer__social{
  li{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 21px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .facebook{
    width: 10px;
  }
}


@import "media";

